/*======================== VISTA TABLETS ===========================*/
/* GRID AREA */
/* HEADER */
/* productos vista movil */
/* categorias vista movil */
/*======================== VISTA CELULARES ===========================*/
/* GRID AREA */
/* HEADER */
/* ICONOS DE FB E INSTAGRAM Y LOGO ENVIO FLORES */
/* redes sociales =======*/
/* LOGO ENVIO FLORES */
/* productos vista movil */
/* redes sociales =======*/
/* LOGO ENVIO FLORES */
/* VISTA DISPOISTIVOS */
/* productos vista dispositivos */
/* categorias vista movil */
/* VISTA CELULARES */
/* BODY */
/* TITULO */
/* SOCIAL BAR */
/* NAV */
/* CATEGORIA VISTA CELULAR */
/* productos vista movil */
/* adicionales vista celular */
/* FOOTER VISTA CELULAR */
@media screen and (max-width: 1024px) {
	#grid-area {
		display: grid;
		grid-template-areas: "logo logo "
        "buscador buscador"
        "nav productos "
        "categoria productos"
        "categoria productos"
        "pie pie";
		grid-template-rows: min-content;
		grid-template-columns: 20% 80%;
		grid-column-gap: 2%;
		grid-row-gap: 5%;
		margin: 0%;
		box-sizing: border-box;
	}
	#buscadores {
		grid-area: buscador;
		justify-items: stretch;
	}
	.form {
		display: flex;
		grid-area: buscador;
		justify-items: stretch;
		width: 100%;
		height: fit-content;
		margin: 0%;
	}
	header {
		grid-area: logo;
		justify-items: stretch;
		align-items: auto;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		box-sizing: border-box;
		height: fit-content;
		background-color: white;
	}
	.secciondearriba {
		display: flex;
		justify-content: space-evenly;
		margin-top: 0%;
	}
	.seccion {
		display: flex;
		padding: 1%;
		border-radius: 25px;
		transition: all 0.5s;
		background: local;
		&:hover {
			background-color: rgba(238, 12, 181, 0.452);
			border-radius: 35px;
			transition: all 0.5s;
			padding: 15px;
		}
		a {
			text-decoration: none;
			color: rgb(255, 255, 255);
		}
	}
	#productos {
		display: grid;
		grid-area: productos;
		justify-items: center;
		grid-template-columns: 45% 45%;
		grid-row-gap: 20px;
		padding-top: 0.5%;
		grid-auto-rows: 370px;
		object-fit: contain;
		width: inherit;
	}
	.listadeproductos {
		display: flex;
		justify-content: space-around;
		margin: 1%;
		padding: 2%;
	}
	.product-item {
		width: fit-content;
		background: linear-gradient(45deg, rgb(125 40 189), rgb(255 0 141));
		margin-bottom: 10%;
		transition: all .6s;
		width: inherit;
		height: 370px;
		display: flex;
		margin: 1%;
		object-fit: contain;
		&:hover {
			-webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
			box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
		}
		a {
			display: flex;
			flex-direction: column;
			width: 100%;
			background: linear-gradient(45deg, rgb(125 40 189), rgb(255 0 141));
			padding-top: 0%;
			color: #fff;
			text-align: center;
			text-decoration: none;
			height: 370;
			border-radius: 18px;
		}
		img {
			width: inherit;
			border-radius: 10px;
			height: 320px;
		}
	}
	.navmenu {
		grid-area: nav;
	}
	#categoria {
		grid-area: categoria;
		align-items: center;
		margin-top: 1%;
		object-fit: contain;
		grid-area: categoria;
		align-items: center;
		margin-top: 1%;
		object-fit: contain;
	}
	.category_list {
		display: flex;
		flex-direction: column;
		width: 100%;
		display: flex;
		flex-direction: column;
		width: 100%;
		.category_item {
			display: block;
			width: 100%;
			padding: 10px;
			margin-bottom: 15px;
			background-color: rgba(255, 2, 44, 0.233);
			text-align: center;
			text-decoration: solid;
			color: white;
			transition: all 0.6s;
		}
		.ct_item-active {
			background-color: rgba(133, 17, 75, 0.829);
		}
	}
}


@media screen and (max-width: 500px) {



.secciondearriba {
	display: none;
	list-style: none;
	display: none;
	list-style: none;
}

#grid-area {
	grid-row-gap: 2px;
	flex-direction: column;
	margin: 0%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 98%;
}
.form {
	display: flex;
	grid-area: buscador;
	justify-items: stretch;
	width: 100%;
	height: fit-content;
	margin: 0%;
}

#buscadores {
    grid-area: buscador;
    justify-items: stretch;
    background: linear-gradient(45deg, #00adff45, #ff00ebd1);
    border: ridge;
}

header {
	display: flex;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	box-sizing: border-box;
	height: fit-content;
	background-color: white;
}
.seccion {
		display: none;
	}

	a {
		text-decoration: none;
		color: black;
		font-size: small;
	}
	.social-bar {
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		z-index: 100;
		height: fit-content;
		top: 0%;
		position: absolute;
		top: 0%;
	}
	.icon {
		color: white;
		text-decoration: none;
		padding: 50%;
		display: flex;
		width: 30px;
		height: fit-content;
		margin-left: 1px;
		transition: all .3s;
		align-items: center;
		&:hover {
			width: 60px;
			transition: all .3s;
			border-radius: 25px;
		}
	}
	.icon-facebook2 {
		background: #2c0394;
		color: white;
		border-radius: 5px;
		float: left;
		padding: 10px;
		display: none;
	}
	.icon-instagram {
		background: #cc21b0;
		border-radius: 5px;
		float: left;
		padding: 10px;
		display: none;
	}
	.envioflores {
		text-align: center;
		font-family: 'Fleur De Leah', cursive;
		font-size: 100px;
		margin: 0%;
		padding: 0%;
	}
	#productos {
		display: grid;
		grid-area: productos;
		justify-items: center;
		grid-template-columns: 45% 45%;
		grid-row-gap: 10px;
		padding-top: 0.5%;
		grid-auto-rows: 210px;
		object-fit: contain;
		width: inherit;
		
	}
	.listadeproductos {
		display: flex;
		justify-content: space-around;
		margin: 5%;
		padding: 5%;
	}
.product-item {
		width: fit-content;
		background: linear-gradient(45deg, rgb(125 40 189), rgb(255 0 141));
		margin-bottom: 10%;
		transition: all .6s;
		width: 95%;
		display: flex;
		margin: 1%;
		border-radius: 15px;
		height: 190px;
		&:hover {
			-webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
			box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
		}
		a {
			display: flex;
			flex-direction: column;
			width: 100%;
			background: linear-gradient(45deg, rgb(125 40 189), rgb(255 0 141));
			padding-top: 0%;
			color: #fff;
			text-align: center;
			height: 200px;
			border-radius: 18px;
			align-items: center;
		}
		img {
			
			width: 100%;
			height: 155px;
			background: #603942;
		}
}
.EnvioFlores {
		font-size: 52px;
}
nav {
		width: 100%;
}

.navmenu {
    grid-area: nav;
    font-size: 25px;
    font-family: sans-serif;
}
#categoria {
		flex-direction: column;
		align-items: center;
		margin-top: 1%;
		display: flex;
		
}

.elegircategoria {
    font-size: calc(1.375rem + 1.5vw);
    color: #2c032c;
    background: linear-gradient(#ff00a569, #1b011c59);
    margin: 0;
    padding: 2%;

}

.menubtn{ 
	display: block;
    cursor: pointer;
    margin: 1px;
    background: linear-gradient(116deg, #4b87f5, rgb(227 38 154));
    border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: all .9s;
	padding: 15px;
}

#abrirmenu:checked ~ .menubtn{ 
	border-radius: 18%;
	padding: 19px;
	background: linear-gradient(116deg, rgb(143, 7, 91), #206bf7);
	transition: all 1s;
}
.fa-solid, .fas {
	font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #fff2fc;
	padding: 5px;

}

#abrirmenu:checked ~ .category_list {
	left: 0;
	position: fixed;
	transition: left 0.8s;
	width: 100%;
	top: 0;
	background: linear-gradient(rgb(255, 186, 244), rgb(255, 255, 255));
}



.category_list {
		display: initial;
		flex-direction: row;
		margin: 0%;
		top: 0;
		scroll-snap-align: center;
		position: fixed;
		left: -100%;
		transition: all .8s;
		border-radius: 14px;
		

		.category_item {
			display: block;
			margin-bottom: 5px;
			background: linear-gradient(rgb(233, 95, 217), rgb(255 255 255));
			text-align: center;
			color: rgb(27, 3, 3);
			transition: all 0.4s;
			font-size: 55px;
			font-family: 'Courgette', cursive;
			height: 100px;
			&:hover {
				-webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
				box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
			}
		}
		.ct_item-active {
			background: linear-gradient(rgb(88, 57, 226), rgba(40, 205, 255, 0.815));
			text-align: center;
		}
}



.botonescompra{
	display: flex;
	flex-direction: column;

}
#productoseleccionado {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "imagen cantidad"
        "imagen colorrosas";
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    width: 100%;
    grid-auto-columns: 50%
}
#adicionales {
		display: flex;
		background-color: white;
		flex-wrap: wrap;
		height: auto;

}
.adic {
		display: flex;
		height: fit-content;
		width: 100%;
		flex-direction: column;
		text-align: center;
		font-family:'Courgette';
}
	footer {
		display: flex;
	}

.icon-facebook {
	background: #2c0394;
	color: white;
	border-radius: 10px;
	float: left;
	&:before {
		content: "\e900";
		color: white;
	}
}
.envioflores {
	text-align: center;
	font-family: 'Fleur De Leah', cursive;
	font-size: 100px;
	margin: 0%;
	padding: 0%;
}
}
