/* ======= BODY =======*/
/*  BUSCADORES Y SELECCION DE ENTREGA */
/* HEADER */
/* ICONOS DE FB E INSTAGRAM Y LOGO ENVIO FLORES */
/* redes sociales =======*/
/* LOGO ENVIO FLORES */
/* logo cuando seleccionan el producto */
/* NAVEGADOR Y CATEGORIAS */
/* OCACIONES */
/* PRODUCTOS */
/* PRODUCTO SELECCIONADO */
/* finalizar o seguir comprando */
/* ADICIONALES */
/* REGISTRO */
/* FOOTER */





* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	box-sizing: border-box;
}
body {
	margin-top: 0%;
}

#grid-area {
	display: grid;
	grid-template-areas: "logo logo "
    "buscador buscador"
    "nav productos "
    "categoria productos"
    "categoria productos"
    "pie pie "
    "pie pie";
	grid-template-rows: min-content;
	grid-column-gap: 1%;
	grid-row-gap: 10px;
	grid-template-columns: 12% 85%;
	margin: 1%;
	margin-top: 0%;
}
#buscadores {
	grid-area: buscador;
	justify-items: stretch;
}
.form {
	display: flex;
	grid-area: buscador;
	justify-items: stretch;
	width: 100%;
	height: fit-content;
	margin: 0%;
}
header {
	grid-area: logo;
	justify-items: stretch;
	align-items: auto;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	height: fit-content;
	background-color: white;
}
.secciondearriba {
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    background: linear-gradient(#ff00a5, #58025a);
    border-bottom: 2px solid black;
    padding: 5;
}
.seccion {
	padding: 8px;
	transition: all 0.5s;
	list-style: none;
	background: local;
	
    &:hover {
		background-color: rgb(179, 41, 197);
		border-radius: 10px;
		transition: all 0.5s;
		padding: 15px;
		text-decoration: none;
		color: white;
	}
	a {
		text-decoration: none;
		color: white;
		background: local;
		&:hover {
			background-color: rgb(179, 41, 197);
			text-decoration: none;
			color: white;
		}
	}
}

.social-bar {
	display: flex;
	flex-direction: column;
	left: -8px;
	align-items: flex-start;
	z-index: 100;
	height: fit-content;
	position: absolute;
	float: left;
	transition: all .5s;
		
    &:hover {
		left: -3px;
		transition: all .8s;
	}
}
.icon {
	color: white;
	text-decoration: none;
	width: 50px;
	height: fit-content;
	transition: all .3s;
	display: block;
	
    &:hover {
		width: 75px;
		transition: all .6s;
		color: white;
	}
}
.icon-facebook2 {
	background: #2c0394;
	color: white;
	border-radius: 10px;
	padding: 15px;
}
.icon-instagram {
	background: #cc21b0;
	border-radius: 10px;
	padding: 15px;
}
.carousel {
	text-align: -webkit-center;
}
.d-flex {
	display: flex !important;
	width: inherit;
	height: 250px;
}
.logo_en_producto {
	width: 95%;
	height: 250px;
	background: local;
}
nav {
	grid-area: nav;
}
.NavMenu {
	grid-area: nav;
}


#comprar{
	position: relative;

	.button-checkout{
		border-radius: 10px;
		background:rgb(183, 59, 255);
		transition: all .5s;
		border: .5px solid rgba(0, 0, 0, 0.384);
		padding: .5%;
		position: absolute;
		right: 0px;

		&:hover{
			background: rgb(255, 83, 218);
			padding: 1%;
			border-radius: 1px;
		}
	}
}
.elegircategoria {
    font-size: 25px;
    color: #2c032c;
    background: linear-gradient(#ff57db, transparent);
    margin: 0;
    padding: 2%;
    border-radius: 10px;

}

#categoria {
	grid-area: categoria;
	align-items: center;
	margin-top: 1%;
}
.category_list {
	
	display: flex;
	flex-direction: column;
	width: 100%;
	scroll-snap-align: center;
	margin: 0%;
	list-style: none;
	padding: 0px;


    .category_item {
		display: block;
		width: auto;
		padding: 5%;
		margin-bottom: 10px;
		margin-top: 5px;
		background: linear-gradient(rgb(255, 165, 220), rgb(255 173 255 / 0%));
		text-align: center;
		text-decoration: solid;
		color: black;
		border-radius: 8px;
		transition: all 0.6s;
		box-sizing: border-box;
		font-family: 'Courgette';
	
        &:hover {
			-webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
			box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
		}
	}

    .ct_item-active {
		background: linear-gradient(rgb(53, 108, 211), rgb(141, 194, 201));
		margin-top: 5px;
	}
}

.menubtn{
	font-size: 30px;
	float: left;
	line-height: 100px;
	cursor: pointer;
	display: none;
	margin: 20px;
}
#abrirmenu {
	display: none;
}

#productos {
	display: grid;
	grid-area: productos;
	justify-items: center;
	grid-template-columns: 30% 30% 30%;
	padding-top: 0.5%;
	margin: 0%;
	grid-column-gap: 1.5%;
	grid-row-gap: 50px;
}

.listadeproductos {
	display: flex;
	justify-content: space-around;
	margin: 1%;
	padding: 2%;
}
.product-item {
	width: fit-content;
	background: linear-gradient(45deg, rgb(125 40 189), rgb(255 0 141));
	margin-bottom: 10%;
	transition: all .6s;
	border-radius: 8px;
	
    &:hover {
		-webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.452);
		box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.418);
		text-decoration: none;
		color: white;
	}
	
    a {
		display: block;
		width: 100%;
		padding: 0;
		background: linear-gradient(45deg, rgb(125 40 189), rgb(255 0 141));
		color: #fff;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
		height: 102%;
		&:hover{
			text-decoration: none;
			color: white;
		}
	}
	
	.button-add{
		padding: 1%;
		border-radius: 10px;
		background:rgb(183, 59, 255);
		transition: all .5s;
		border: .5px solid rgba(0, 0, 0, 0.384);
		bottom: 60px;
		position: relative;
		right: -10px;

		&:hover{
			background: rgb(255, 83, 218);
			padding: 2%;
			border-radius: 1px;
		}
	}

    img {
		width: 100%;
		height: 300px;
		border-radius: 10px;
	}
}



#productoseleccionado {
	display: grid;
	grid-template-areas: 
    "titulo titulo "
    "imagen cantidad "
    "imagen colorrosas ";
	grid-template-columns: 40%;
	grid-template-rows: 20;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	max-width: 100%;
}
.tituloproducto {
	grid-area: titulo;
}
.CANTIDADROSAS {
	grid-area: cantidad;
}
.colorrosas {
	grid-area: colorrosas;
}
.imagenproducto {
	img {
		grid-area: imagen;
		width: 100%;
	}
}

.botonescompra{
	display: flex;
	flex-direction: column;
	margin: 5px;
	width: 200px;

}
.btnfinalizar {
	background-color: rgb(188, 0, 245);
	border-radius: 20rem;
	padding: 2.5%;
	border: 2px solid black;
	text-decoration: none;
	text-align: center;
	color: white;
	transition: all .5s;
	margin-top: 2%;
	width: 90%;
	&:hover {
		-webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
		box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
		text-decoration: none;
		color: white;
		padding: 2%;
		background-color: rgb(217, 94, 255);
	}
}
.button-add {
	background-color: rgb(255, 0, 191);
	border-radius: 20rem;
	padding: 2.5%;
	border: 2px solid black;
	text-decoration: none;
	text-align: center;
	color: white;
	transition: all .5s;
	margin-top: 2%;
	width: 90%;
	&:hover {
		-webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
		box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
		color: white;
		text-decoration: none;
		padding: 2%;
		background-color: rgb(209, 31, 31);
	}
}

#adicionales {
    display: grid;
    grid-template-areas:
        "adic adic"
        "ferrero choco"
        "vinos peluche"
        "globo globonum";
    height: 100%;
    grid-auto-rows: 0fr 3fr 3fr 3fr;
    background: white;
    grid-template-columns: 350% 350%;
    justify-items: center;
    align-items: center;
	grid-column-gap: 50px;
}

.adic{
    grid-area: adic;
    height: fit-content;

}
.ferrero{
    grid-area: ferrero;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
}
.chocolates {
    grid-area: choco;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.vinos {
    grid-area: vinos;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.peluches {
    grid-area: peluche;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.goblo {
    grid-area: globo;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.globosnum {
    grid-area: globonum;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.produadic {
	width: 150px;
	height: 150px;
}
#registro {
	display: flex;
	flex-direction: column;
}
footer {
	grid-area: pie;
	background-color: rgb(216, 8, 42);
}

@import "_responsive"; 