*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(241, 161, 217, 0.082);
    box-sizing: border-box;
}

body {

    margin-top: 0%;
}


/* ======= BODY =======*/



#grid-area {
    display: grid;
    grid-template-areas:
        "logo logo "
        "buscador buscador"
        "nav productos "
        "categoria productos"
        "categoria productos"
        "pie pie "
        "pie pie";
    grid-template-rows: min-content;
    grid-column-gap: 1%;
    grid-row-gap: 10px;
    grid-template-columns: 12% 85%;
    margin: 1%;
    margin-top: 0%;
}


/*  BUSCADORES Y SELECCION DE ENTREGA */

#buscadores{
    grid-area: buscador;
    justify-items: stretch;
  
}

.form{
    display: flex;
    grid-area: buscador;
    justify-items: stretch;
    width: 100%;
    height: fit-content;
    margin: 0%;
}


        /* HEADER */


header {
    grid-area: logo;
    justify-items: stretch;
    align-items: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    height: fit-content;
    background-color: white;
}

.secciondearriba{
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
    background: linear-gradient(#ff00a5, #58025a);
    border-bottom: 2px solid black;
    padding: 5;

}

.seccion {
    padding: 8px;
    transition: all 0.5s;
    list-style: none;
    background: local;
}


.seccion:hover{ 
    background-color: rgba(83, 0, 0, 0.63);
    border-radius: 10px;
    transition: all 0.5s;
    padding: 15px;
    text-decoration: none;
    color: white;
}

.seccion a{
    text-decoration: none;
    color: white;
    background: local;
}

.btn_menu {
    display: none;
}


/* ICONOS DE FB E INSTAGRAM Y LOGO ENVIO FLORES */

/* redes sociales =======*/

.social-bar {
    display: flex;
    left: 0;
    top: 45%;
    align-items: flex-start;
    z-index: 100;
    height: fit-content;
    position: sticky;
}

.icon {
    color: white;
    text-decoration: none;
    padding: 1%;
    display: flex;
    width: 5%;
    height: fit-content;
    margin-left: 1px;
    transition: all .3s;
}

.icon:hover{
    width: 60px;
    transition: all .3s;
    border-radius: 25px;
    
}

.icon-facebook2 {
    background: #2c0394;
    color: white;
    border-radius: 10px;
    top: 10%;
    display: flex;
}

.icon-instagram {
    background:  #cc21b0;
    border-radius: 10px;

    top: 10%;
    display: flex;
}



/* LOGO ENVIO FLORES */

.carousel {

    text-align: -webkit-center;
}
.d-flex {
    display: flex!important;
    width: inherit;
    height: 250px;
}

/* logo cuando seleccionan el producto */

.logo_en_producto{
    width: 95%;
    height: 250px;
    background: local;
}



        /* NAVEGADOR Y CATEGORIAS */

 nav {
     grid-area: nav;
 }

.NavMenu {
    grid-area: nav;
}

#categoria {
    grid-area: categoria;
    align-items: center;
    margin-top: 1%;
}


.category_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-snap-align: center;
    margin: 0%;

 }



.category_list .category_item{
    display: block;
    width: auto;
    padding: 5%;
    margin-bottom: 15px;
    background-color: rgba(255, 2, 44, 0.233);
    text-align: center;
    text-decoration: solid;
    color: white;
    transition: all 0.6s;
    transition: all 0.6s;
    box-sizing: border-box;
    border-radius: 10px;
}

.category_list .category_item:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);

}

.category_list .ct_item-active { 
    background-color: rgba(133, 17, 75, 0.829);
}


/* OCACIONES */




        /* PRODUCTOS */

#productos {
    display: grid;
    grid-area: productos;
    justify-items: center;
    grid-template-columns: 30% 30% 30%;
    padding-top: 0.5%;
    margin: 0%;
    grid-column-gap: 1.5%;
  
}

.listadeproductos {
    display: flex;
    justify-content: space-around;
    margin: 1%;
    padding: 2%;

}

.product-item {
    width: fit-content;
    background-color: rgba(250, 16, 16, 0.075);
    margin-bottom: 10%;
    transition: all .6s;
    

}


.product-item:hover { 
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.795);
    box-shadow: 10px 10px 14px 2px rgba(104, 0, 0, 0.952);

}



.product-item a{
    display: block;
    width: 100%;
    padding: 0;
    background-color: rgba(46, 2, 13, 0.76);

    color: #fff;
    text-align: center;
    text-decoration: none;
}

.product-item img{
    width: 100%;

}

        /* PRODUCTO SELECCIONADO */

#productoseleccionado{
    display: grid;
    grid-template-areas:
        "titulo titulo "
        "imagen cantidad "
        "imagen colorrosas ";
    grid-template-columns: 55% 40%;
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    max-width: 100%;


}


.tituloproducto {
    grid-area: titulo;
}

.CANTIDADROSAS{
    grid-area: cantidad;

}

.colorrosas{
    grid-area: colorrosas;

}

.imagenproducto img{
    grid-area: imagen;
    width: 80%;
    height: 93%;
}
.imagenproducto {
    display: flex;
    justify-content: center;
    width: 100%;
}



/* finalizar o seguir comprando */

.botonescompra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.btnfinalizar {
    background-color: rgb(119, 9, 91);
    border-radius: 20px;
    padding: 1.5%;
    border: 2px solid black;
    margin: 20px;
    text-decoration: none;
    color: white;
}

.btnseguir {
    background-color: rgb(252, 113, 217);
    border-radius: 20px;
    padding: 1.5%;
    border: 2px solid black;
    margin: 20px;
    text-decoration: none;
    color: black;
}

/* ADICIONALES */
 
#adicionales {
    display: grid;
    grid-template-areas:
        "adic adic"
        "ferrero choco"
        "vinos peluche"
        "globo globonum";
    height: 100%;
    grid-auto-rows: 0fr 3fr 3fr 3fr;
    background: white;
    grid-template-columns: 350% 350%;
    justify-items: center;
    align-items: center;
}

.adic{
    grid-area: adic;
    height: fit-content;

}
.ferrero{
    grid-area: ferrero;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
}
.chocolates {
    grid-area: choco;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.vinos {
    grid-area: vinos;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.peluches {
    grid-area: peluche;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.goblo {
    grid-area: globo;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.globosnum {
    grid-area: globonum;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


.produadic{ 
    width: 150px;
    height: 150px;
}

        
            /* REGISTRO */
#registro{
    display: flex;
    flex-direction: column;
}



        /* FOOTER */

footer {
    grid-area: pie;
    background-color:  rgb(216, 8, 42);


}










     /*======================== VISTA TABLETS ===========================*/

@media screen and (max-width: 1024px) {

    


    /* GRID AREA */
     #grid-area {
        display: grid;
        grid-template-areas:
            "logo logo "
            "buscador buscador"
            "nav productos "
            "categoria productos"
            "categoria productos"
            "pie pie "
             ;

        grid-template-rows: min-content;
        grid-template-columns: 20% 80%;
        grid-column-gap: 2%;
        grid-row-gap: 2%;
        margin: 0%;
        box-sizing: border-box;
    }
    
    #buscadores{
        grid-area: buscador;
        justify-items: stretch;
      
    }
    
    .form{
        display: flex;
        grid-area: buscador;
        justify-items: stretch;
        width: 100%;
        height: fit-content;
        margin: 0%;
    }
    
     
    
    
            /* HEADER */
    
 
    header {
        grid-area: logo;
        justify-items: stretch;
        align-items: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        box-sizing: border-box;
        height: fit-content;
        background-color: white;
    }
    
    .secciondearriba{
        display: flex;
        justify-content: space-evenly;
        margin-top: 0%;
    }
    
    .seccion {
        display: flex;
        padding: 1%;
        border-radius: 25px;
        transition: all 0.5s;
        background: local;
    
    }
    
    
    .seccion:hover{ 
        background-color: rgba(238, 12, 181, 0.452);
        border-radius: 35px;
        transition: all 0.5s;
        padding: 15px;
    }
    
    .seccion a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
     

    /* productos vista tablets */

#productos {
    display: grid;
    grid-area: productos;
    justify-items: center;
    grid-template-columns: 45% 45%;
    grid-row-gap: 10px;
    padding-top: 0.5%;
    grid-auto-rows: 450px;
    object-fit: contain;
    width: inherit;
        
    }
    
.listadeproductos {
        display: flex;
        justify-content: space-around;
        margin: 1%;
        padding: 2%;
    
    }
    
    .product-item {
        width: fit-content;
        background-color: rgba(250, 16, 16, 0.075);
        margin-bottom: 10%;
        transition: all .6s;
        
    
    }
    
    
    .product-item:hover { 
        -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
        box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    
    }
    
    
    
    .product-item a{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 350px;
        background: rgba(46, 2, 13, 0.76);
        padding-top: 0;
        color: #fff;
        text-align: center;
        text-decoration: none;
        border-radius: 10px;
    }
    
    .product-item img {
        width: inherit;
        height: 320px;
        border-radius: 8px;
    } 

#adicionales {
    display: grid;
    grid-template-areas:
        "adic adic"
        "ferrero choco"
        "vinos peluche"
        "globo globonum";
    height: 100%;
    grid-auto-rows: 0fr 3fr 3fr 3fr;
    background: white;
    grid-template-columns: 200% 200%;
    justify-items: center;
    align-items: center;
}



    /* categorias vista tablets */
    
.navmenu {
        grid-area: nav;
    
}

    #categoria {
    grid-area: categoria;
    align-items: center;
    margin-top: 1%;
    object-fit: contain;
}


.category_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    
 }



.category_list .category_item{
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 2, 44, 0.233);
    text-align: center;
    text-decoration: solid;
    color: white;
    transition: all 0.6s;
    border-radius: 8px;
}

.category_list .ct_item-active { 
    background-color: rgba(133, 17, 75, 0.829);
}

}


     /*================================== VISTA CELULARES ===========================================*/

@media screen and (max-width: 500px) {

    .secciondearriba{
        display: none;
        list-style: none;
    } 

        /* GRID AREA */
 #grid-area {

    flex-direction: column;      
    margin: 0%;
    box-sizing: border-box;
}

.form{
    display: flex;
    grid-area: buscador;
    justify-items: stretch;
    width: 100%;
    height: fit-content;
    margin: 0%;

} 
        
                /* HEADER */
        
        
header {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    height: fit-content;
    background-color: white;
}

.seccion {
    display: none;
}
        
.btn_menu {
    display: flex;
}
        
a {
    text-decoration: none;
    color: black;
    font-size: small;
} 
        
/* ICONOS DE FB E INSTAGRAM Y LOGO ENVIO FLORES */

/* ============= redes sociales =======*/

.social-bar {
    position: fixed;
    left: 0;
    top: 45%;
    font-size: 0.05rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;
    height: fit-content;
}

.social-bar{
    position: absolute;
    top: 0%;
}

.icon {
    color: white;
    text-decoration: none;
    padding: 50%;
    display: flex;
    width: 30px;
    height: fit-content;
    margin-left: 1px;
    transition: all .3s;
    align-items: center;
}

.icon:hover{
    width: 60px;
    transition: all .3s;
    border-radius: 25px;
    
}

.icon-facebook2 {
    background: #2c0394;
    color: white;
    border-radius: 10px;
    float: left;

}
.icon-facebook {
    background: #2c0394;
    color: white;
    border-radius: 10px;
    float: left;
}


.icon-facebook:before {
    content: "\e900";
    color: white;
}


.icon-instagram {
    background:  #cc21b0;
    border-radius: 10px;
    float:left
}
 


/* ====LOGO ENVIO FLORES ====== */

.envioflores {
    text-align: center;
    font-family: 'Fleur De Leah', cursive;
    font-size: 100px;
    margin: 0%;
    padding: 0%;

} 

        /* =============== productos vista celular ============== */
     
#productos {
    display: grid;
    grid-area: productos;
    justify-items: center;
    grid-template-columns: 45% 45%;
    grid-row-gap: 10px;
    padding-top: 0.5%;
    grid-auto-rows: 200px;
    object-fit: contain;
    width: inherit;
}
        
.listadeproductos {
     display: flex;
    justify-content: space-around;
    margin: 1%;
    padding: 2%;
        
}
        
.product-item {
    width: fit-content;
    background-color: rgba(250, 16, 16, 0.075);
    margin-bottom: 10%;
    transition: all .6s;
    border-radius: 15px;
            
}
        
        
.product-item:hover { 
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
        
}
              
.product-item a{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(rgba(251, 249, 251, 0), #993668);
    padding-top: 0%;
    color: #fff;
    text-align: center;
    height: 200px;
    border-radius: 18px;
    align-items: center;
 }
        
.product-item img{
    width: 100%;
    height: 155px;
    background: #603942;
    border-radius: 10px;
}     
        
    /* ================ CATEGORIA VISTA CELULAR ==============*/


    #categoria {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1%;
        display: flex;
    }
    
    
    .category_list {
        display: initial;
        flex-direction: row;
        width: 100%;
        scroll-snap-align: center;
     }
    
    
    
    .category_list .category_item{
        display: block;
        margin-bottom: 15px;
        background-color: rgba(255, 2, 44, 0.233);
        text-align: center;
        text-decoration: solid;
        color: white;
        transition: all 0.6s;
        font-size: 16px;
        font-family: bold;
        border-radius: 10px;
    }
    
    .category_list .category_item:hover {
        -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
        box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    
    }
    .category_list .ct_item-active { 
        background-color: rgba(133, 17, 75, 0.829);
    
    }
 
/* =================== adicionales vista celular ==============0 */

#productoseleccionado{
    display: grid;
    grid-template-columns: 55%;
    grid-template-areas:
        "titulo titulo "
        "imagen cantidad "
        "imagen colorrosas ";
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    max-width: 100%;
}

#adicionales {
    display: grid;
    grid-template-areas:
        "adic adic"
        "ferrero choco"
        "vinos peluche"
        "globo globonum";
    height: 100%;
    grid-auto-rows: 0fr 3fr 3fr 3fr;
    background: white;
    grid-template-columns: 200% 200%;
    justify-items: center;
    align-items: center;
}

.adic{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;

}
/* FOOTER VISTA CELULAR */
footer {
    display: flex;
}


}
