* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(247, 68, 202, 0.082);


}



/* ======= BODY =======*/



#grid-area {
    display: grid;
    grid-template-areas:
        "logo logo "
        "buscador buscador"
        "nav productos "
        "categoria productos"
        "categoria productos"
        "pie pie "
        "pie pie"
        ;
    grid-template-rows: min-content;
    grid-column-gap: 2%;
    grid-row-gap: 10px;
    margin: 0%;

}

/*  BUSCADORES Y SELECCION DE ENTREGA */

#buscadores{
    grid-area: buscador;
    justify-items: stretch;
  
}

.form{
    display: flex;
    grid-area: buscador;
    justify-items: stretch;
    width: 100%;
    height: fit-content;
    margin: 0%;
}




        /* HEADER */


header {
    grid-area: logo;
    justify-items: stretch;
    align-items: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    height: fit-content;
    background-color: white;
}

.secciondearriba{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0%;
}

.seccion {
    
    padding: 8px;

    transition: all 0.5s;
    list-style: none;
}


.seccion:hover{ 
    background-color: rgba(238, 12, 181, 0.226);
    border-radius: 25px;
    transition: all 0.5s;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    
}

.btn_menu {
    display: none;
}


/* ICONOS DE FB E INSTAGRAM Y LOGO ENVIO FLORES */

/* redes sociales =======*/

.social-bar {
    
    display: flex;
    left: 0;
    top: 45%;

    align-items: flex-start;
    z-index: 100;
    height: fit-content;
}



.icon {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    width: 10px;
    height: fit-content;
    margin-left: 1px;
    transition: all .3s;
}

.icon:hover{
    width: 60px;
    transition: all .3s;
    border-radius: 25px;

}

.icon-facebook {
    background: #2c0394;
    color: white;
    border-radius: 10px;
    float: left;
}

.icon-instagram {
    background:  #cc21b0;
    border-radius: 10px;
    float:left
}
.icon-facebook:before {
    content: "\e900";
    color: white;
}


/* LOGO ENVIO FLORES */

.envioflores {
    text-align: center;
    font-family: 'Fleur De Leah', cursive;
    font-size: 100px;
    margin: 0%;
    padding: 0%;

}



        /* NAVEGADOR Y CATEGORIAS */


nav {
    grid-area: nav;
}

#categoria {
    grid-area: categoria;
    align-items: center;
    margin-top: 1%;
}


.category_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-snap-align: center;
    margin: 0%;
 }



.category_list .category_item{
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 2, 44, 0.233);
    text-align: center;
    text-decoration: solid;
    color: white;
    transition: all 0.6s;
    box-sizing: border-box;
}

.category_list .category_item:hover {
    -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);

}




.category_list .ct_item-active {
    background-color: rgba(133, 17, 75, 0.829);
}


/* OCACIONES */




        /* PRODUCTO SELECCIONADO */

#productoseleccionado{
    display: grid;
    grid-template-areas:
    "titulo titulo "
    "imagen cantidad "
    "imagen colorrosas "
   ;
    grid-template-columns: 40%;
    grid-template-rows: 20;
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    max-width: 100%;


}


.tituloproducto {
    grid-area: titulo;
}

.CANTIDADROSAS{
    grid-area: cantidad;

}

.colorrosas{
    grid-area: colorrosas;

}

.imagenproducto img{
    grid-area: imagen;
    width: 80%;
}





/* finalizar o seguir comprando */

.btnfinalizar {
    background-color: rgb(226, 87, 134);
    border-radius: 20rem;
    padding: 2%;
    border: 2px solid black;
    box-shadow: black;
}

.btnseguir {
    background-color: rgb(252, 113, 217);
    border-radius: 20rem;
    padding: 2%;
    border: 2px solid black;
    box-shadow: black;
    
}







/* ADICIONALES */

#adicionales {
    display: grid;

    grid-template-areas:
        "adic adic"
        "ferrero choco"
        "vinos peluche"
        "globo globonum";
    height: 100%;
    grid-template-columns: 50%;
    grid-auto-rows: 0fr 3fr 3fr 3fr;
    background-color: white ;

}

.adic{
    grid-area: adic;
    height: fit-content;
    width: 100%;
}
.ferrero{
    grid-area: ferrero;
    display: flex;
    
}
.chocolates {
    grid-area: choco;
    display: flex;
}

.vinos {
    grid-area: vinos;
    display: flex;

}

.peluches {
    grid-area: peluche;
    display: flex;
}

.goblo {
    grid-area: globo;
    display: flex;
}

.globosnum {
    grid-area: globonum;
    display: flex;
}


.produadic{ 
    width: 150px;
    height: 150px;
}

        /* FOOTER */

footer {
    grid-area: pie;
    background-color:  rgb(216, 8, 42);


}






        /* VISTA DISPOISTIVOS */

@media screen and (max-width: 1024px) {
    div {
        display: flex;
        flex-direction: column;
    }

    /* GRID AREA */
    #grid-area {
        display: grid;
        grid-template-areas:
            "logo logo "
            "buscador buscador"
            "nav productos "
            "categoria productos"
            "categoria productos"
            "pie pie ";
        grid-template-columns: 20vw 80w;
        grid-template-rows: auto;
        grid-column-gap: 5vw;
        grid-row-gap: 10px;

    }

    /* productos vista movil */
    #productos {
        display: grid;
        grid-area: productos;
        justify-items: center;
        grid-template-columns: 80%;
        grid-row-gap: 10px;
        padding-top: 0.5%;
        grid-auto-rows: 450px;
        object-fit: contain;
        width: inherit;
    }


.product-item {
    width: inherit;
    height: 40vw;
    display: flex;
    margin: 1%;
    object-fit: contain;
}

.product-item img {
    width: inherit;
    height: 20vw;
    object-fit: contain;

}
    /* categorias vista movil */
    nav {
        grid-area: nav;
        width: max-content;
    }

    #categoria {
    grid-area: categoria;
    align-items: center;
    margin-top: 1%;
    object-fit: contain;
}


.category_list {
    display: flex;
    flex-direction: column;
    width: 100%;

 }



.category_list .category_item{
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgba(255, 2, 44, 0.233);
    text-align: center;
    text-decoration: solid;
    color: white;
    transition: all 0.6s;

}

}

/* VISTA CELULARES */

@media screen and (max-width: 500px) {

    .secciondearriba{
        display: none;
        list-style: none;
    }

 
    
    /* BODY */
    #grid-area {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    
    }

    /* TITULO */

    .EnvioFlores{
        font-size: 52px;
    }

    /* SOCIAL BAR */

    .social-bar{
        position: absolute;
        top: 0%;
    }

    /* NAV */

    nav{
        width: 100%;
    }


    /* CATEGORIA VISTA CELULAR */
    #categoria {
        flex-direction: column;
        align-items: center;
        margin-top: 1%;
        display: flex;
    }
    
    
    .category_list {
        display: initial;
        flex-direction: row;
        width: 100%;
        scroll-snap-align: center;
     }
    
    
    
    .category_list .category_item{
        display: block;
        margin-bottom: 15px;
        background-color: rgba(255, 2, 44, 0.233);
        text-align: center;
        text-decoration: solid;
        color: white;
        transition: all 0.6s;
        font-size: 16px;
        font-family: bold;
    }
    
    .category_list .category_item:hover {
        -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
        box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
    
    }
    .category_list .ct_item-active { 
        background-color: rgba(133, 17, 75, 0.829);
    }
 
 #ocaciones {
     display: none;
 }

    /* productos vista movil */
  
    #productos {
        display: flex;
        flex-direction: column;
        justify-items: center;
        box-sizing: border-box;
        object-fit: contain;
        width: inherit;
    }
#productoseleccionado{
    display: grid;
    grid-template-columns: 55%;
    grid-template-areas:
        "titulo titulo "
        "imagen cantidad "
        "imagen colorrosas ";
    grid-column-gap: 2px;
    grid-row-gap: 10px;
    max-width: 100%;
}
.product-item {
    width: 95%;
    display: flex;
    margin: 1%;

}

.product-item img {
    width: inherit;
    height: 50%;
    object-fit: contain;

}


/* adicionales vista celular */

#adicionales {
    display: flex;
    background-color: white;
    flex-direction: column;
    height: auto;
}

.adic{
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;

}

/* FOOTER VISTA CELULAR */
footer {
    display: flex;
}
}